@import "tailwindcss";

@theme {
  --color-purple-500: #8a00e6;
  --color-pink-100: #ffe6ff;
  --color-green: #10ac84;
  --gradient-red: '#f87171',
  --gradient-purple: '#a78bfa',

  --font-roboto: "Roboto", sans-serif;
}



animation: var(--animate-bounce);

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@theme {
  --animate-spin: spin 8s linear infinite;
  --animate-spin-reverse: spin 6s linear infinite;
  --animate-pulse-slow: pulse 2s ease infinite;
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes spinas {
  0%, {
    transform: rotate(0deg)
    },
  100%: {
    transform: rotate(360deg)
    }
  }

@keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
